doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/header/header
  include ../components/home/home
  include ../components/about/about
  include ../components/required/required
  include ../components/service/service
  include ../components/give/give
  include ../components/aspects/aspects
  include ../components/packages/packages
  include ../components/important/important
  include ../components/reviews/reviews
  include ../components/callback/callback
  head
    +head(head.defaults)
  body.page
    |%=symbols=%

    +header()

    +home()

    +about()

    +required()

    +service()

    +give()

    +aspects()

    +packages()

    +important()

    +reviews()

    +callback()

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')