body
  min-width: 320px
  overflow-x hidden
  font-size 16px
  font-family $Reg

.content
  width 1170px
  margin 0 auto
a
  color inherit 
  text-decoration: none

h1
  font-family $bBold
  font-size 77px
  text-transform uppercase
  color $wh
h2
  font-size 44px
  font-family $bBold
  text-transform uppercase
  color $bk
  line-height normal

.yellow-list
  li
    margin-bottom 30px
    position relative
    padding-left 35px
    box-sizing: border-box
    font-family $Reg
    font-size 16px
    color $bk
    line-height 22px
    &::before
      content ''
      position absolute
      left 0
      top 7px
      width 10px
      height 10px
      background $yl
      border-radius: 50%
    