@font-face {
  font-family: 'BebasNeueBold';
  src: url('../fonts/BebasNeueBold/BebasNeueBold.eot');
  src: url('../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BebasNeueBold/BebasNeueBold.woff') format('woff'),
      url('../fonts/BebasNeueBold/BebasNeueBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/BebasNeueRegular/BebasNeueRegular.eot');
  src: url('../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BebasNeueRegular/BebasNeueRegular.woff') format('woff'),
      url('../fonts/BebasNeueRegular/BebasNeueRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
      url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url('../fonts/ProximaNova-Light/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'),
      url('../fonts/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
      url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


$bBold = 'BebasNeueBold', sans-serif;
$bReg  = 'BebasNeueRegular', sans-serif;
$Light = 'ProximaNova-Light',sans-serif;
$Reg = 'ProximaNova-Regular',sans-serif;
$Bold = 'ProximaNova-Bold',sans-serif;