mixin home(data)
  section.home
    .content

      .home-wrapper


        .home-left

          ul.socials
            li
              a(href="#", target="_blank")
                img(src="static/img/assets/home/vk.svg", alt="")
            li
              a(href="#", target="_blank")
                img(src="static/img/assets/home/fb.svg", alt="")
            li
              a(href="#", target="_blank")
                img(src="static/img/assets/home/instagram.svg", alt="")
            li
              a(href="#", target="_blank")
                img(src="static/img/assets/home/youtube.svg", alt="")
        
        //- Home Right
        .home-right
          
          //- Home Name
          .home-name
            h1 
              span Александр       
              span Василенко

          //- Home Descr
          .home-descr
            span Эксперт по мотивации, 
              br
              | лидерству и развитию внутренней энергии
          
          //- Home Action
          .home-action
            .home-action__left
              .mouse
                span
              .mouse-up
            .home-action__right Листайте дальше