mixin home(data)
  section.home#home
    .content

      .home-wrapper


        .home-left

          ul.socials
            li
              a(href="#", target="_blank")
                img(src="static/img/assets/home/vk.svg", alt="")
            li
              a(href="#", target="_blank")
                img(src="static/img/assets/home/fb.svg", alt="")
            li
              a(href="#", target="_blank")
                img(src="static/img/assets/home/instagram.svg", alt="")
            li
              a(href="#", target="_blank")
                img(src="static/img/assets/home/youtube.svg", alt="")
        
        //- Home Right
        .home-right
          
          //- Home Name
          .home-name
            h1 
              span Александр       
              span Василенко

          //- Home Descr
          .home-descr
            span Эксперт по мотивации, 
              br
              | лидерству и развитию внутренней энергии
          .home-descr.home-descr__two
            span Персональная работа над вашими успехами
          //- Home Action
          .home-action
            +button('#pop-call','Записаться на коучинг').btn-pop(data-action='Записаться на коучинг')