mixin important(data)
  section.important

    .content

      .important-wrapper

        h2 Важная информация!

        ul.yellow-list
          li Я работаю исключительно по 100% предоплате
          li Я оставляю за собой право остановить коучинг по собственному желанию. Остаток суммы клиенту возвращается. Если остановка по желанию клиента, возврат 50% от оставшегося количества часов
          li Возможна оплата по договору от юрлица
          li Я даю Вам необходимую информацию, вдохновение, я Вас мотивирую и заряжаю энергией, советую и даю рекомендации. Делать, принимать решение, брать на себя всю полноту ответственности необходимо Вам!