.footer
  background rgb(20, 27, 40)
  height 100px
  &-wrapper
    display flex
    justify-content space-between
    align-items center
    height 100px
  &-coph
    font-size 14px
    font-family $Reg
    color $wh