mixin footer(data)
  footer.footer
    .content

      .footer-wrapper

        a(href="index.html").footer-logo
          img(src="static/img/assets/header/logo.png", alt="")
        
        .footer-coph 2019 Все права защищены
         