.footer
  background url('../img/assets/footer/bg.svg') no-repeat center/cover
  padding-top 140px 
  padding-bottom 20px
  &-wrapper
    display flex
    justify-content space-between
    align-items center
  &-coph
    font-size 14px
    font-family $Reg
    color $wh