.after
  background url('../img/assets/after/after.png') no-repeat center/cover
  height 810px
  box-sizing: border-box
  padding-top 180px
  .title
    padding-left 40px
    box-sizing: border-box
    margin-bottom 60px
    h2
      color $wh

  &-list
    li
      padding-left 40px
      position relative
      font-size 16px
      line-height normal
      font-family $Reg
      color $wh
      margin-bottom 30px
      &::before
        content ''
        position absolute
        left 0
        top 0
        width 18px
        height 18px
        background url('../img/assets/after/check.svg') no-repeat center/contain