mixin after(data)
  section.after
    .content

      .title
        h2 После коучинга со мной вы
      
      ul.after-list
        li Заряжены энергией и с желанием работать 
        li С поставленными целями и выверенным персонально 
          br
          | под вас планом действий 
        li Эмоционально стабильны и устойчивы 
        li С балансом ключевых направлений жизни 
          br
          | (работа, семья, досуг, спорт…) 
        li С позитивным и проактивным умонастроем 
        li С лидерскими качествами
        li Без кучи сомнений, тревог и страхов 
        li С желанными результатами
         











 


