mixin give(data)
  section.give
    .content
      .title
        h2 КОУЧИНГ СО МНОЙ ВАМ ДАСТ
      

      .give-wrapper
        .give-image
          img(src="static/img/assets/give/give2.png", alt="")

        .give-items

          .give-items__left
            //- Give Item
            .give-item
              .give-item__number 01
              .give-item__text
                p Решение Ваших личностных  
                  br
                  |  и психологических проблем  
                  br
                  |  (комплексы, страхи, сомнения,  
                  br
                  | неуверенность в себе) 
            //- Give Item
            .give-item
              .give-item__number 02
              .give-item__text
                p Постановка целей в жизни и 
                  br
                  |  пошаговый план реализации именно 
                  br
                  |  для Вас, с учетом Вашего 
                  br
                  | характера и опыта
            
            //- Give Item
            .give-item
              .give-item__number 03
              .give-item__text
                p Вы найдете Вашу внутреннюю 
                  br
                  |  мотивацию! Вы перестанете топтаться 
                  br
                  |  на месте без результата
  



          .give-items__right
            //- Give Item
            .give-item
              .give-item__number 04
              .give-item__text
                p Вы станете энергичнее 
                  br
                  |  и поймете как держать себя  
                  br
                  |  в ресурсном состоянии

            //- Give Item
            .give-item
              .give-item__number 05
              .give-item__text
                p Вы научитесь производить 
                  br
                  |  о себе приятное впечатление 
                  br
                  |  и добьетесь уважения
            
            //- Give Item
            .give-item
              .give-item__number 06
              .give-item__text
                p Вы станете эмоционально 
                  br
                  |  стабильными и научитесь 
                  br
                  |  контролировать эмоции

                  



                  


  




