.give
  background url('../img/assets/give/bg.png') no-repeat center/cover
  padding-top 160px
  padding-bottom 160px
  position relative
  z-index 4
  &-image
    position absolute
    left 50%
    transform: translateX(-50%)
    bottom 47px
  .title
    text-align center
    h2
      color $wh
  &-items
    display flex
    justify-content space-between

  &-item
    text-align center
    width 240px
    margin-bottom 30px
    &__number
      font-family $Black
      font-size 92px
      color $yl
    &__text
      p
        font-size 16px
        line-height 24px
        color $wh


.give-button
  position absolute
  bottom 15%
  z-index 20
  left 50%
  transform: translateX(-50%)
  .button
    width 250px
    padding 0
    justify-content center
  