mixin aspects(data)
  section.aspects 
    .content


      .title
        h2 В рамках коучинга мы затронем 
          br
          |  все важные аспекты вашего развития 
      
      ul.aspects-items
        li
          img(src="static/img/assets/aspects/a1.png", alt="Image")
          span  Уверенность в себе
        li
          img(src="static/img/assets/aspects/a2.png", alt="Image")
          span Построение целей и планов
        li
          img(src="static/img/assets/aspects/a3.png", alt="Image")
          span Личная мотивация
        li
          img(src="static/img/assets/aspects/a4.png", alt="Image")
          span Преодоление страхов, комплексов
        li 
          img(src="static/img/assets/aspects/a5.png", alt="Image")
          span Самоорганизация и дисциплина
        li
          img(src="static/img/assets/aspects/a6.png", alt="Image")
          span Эмоциональная стабильность
        li
          img(src="static/img/assets/aspects/a7.png", alt="Image")
          span Развитие энергии и тонуса
        li
          img(src="static/img/assets/aspects/a8.png", alt="Image")
          span Принятие самих себя


      .aspects-quote
        .aspects-quote__image
          img(src="static/img/assets/aspects/img.png", alt="")
        .aspects-quote__paragraph
          p Коучинг со мной - это решение ваших психологических проблем, достижение 
            br
            |  новых результатов, развитие ресурсного состояния 
            br
            | и вашей эмоциональной стабильности