@media only screen and (max-width: 1200px)
  .content
    width 950px
  nav.menu li
    margin-right 30px
  .give-image
    img
      width 100%
  .important-wrapper
    padding-bottom 60px
  .service .about-block
    top -80%

@media only screen and (max-width: 992px)
  .content
    width calc(100% - 30px)
  .header
    &-right
      width calc(100% - 60px)
      justify-content space-between
    &-menu
      order 0
      &.active
        nav.menu
          transform: translateX(0)
          opacity 1
          z-index 3
          visibility: visible
        .burger
          transform:  translate(140px,-30px)
      .logo
        display flex
        justify-content center
        align-items center
      nav.menu
        position absolute
        left 0
        top 0
        width 200px
        height 100vh
        background #02123a
        z-index -1
        visibility: hidden
        transition all 0.6s ease-in-out
        opacity 0
        transform: translateX(-100%)
        
        ul
          flex-direction: column
        li
          margin-right 0
          display flex
          justify-content center
          align-items center
          width 100%
        a
          height 45px
          display flex
          align-items center
          width 100%
          justify-content center
          padding-left 15px
          box-sizing: border-box
          border-bottom 1px solid #0b1e4c
          &.logo
            height 70px
            padding-left 0
    .burger
      display block
      position relative
      transition all 0.6s ease-in-out
      z-index 10
    &-left
      display none
      order 1
      .logo
        display none


  .home
    &-left
      width 30%
    &-right
      width 56%
  .required-item
    &:first-child,
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4)
      width 100%
      margin-bottom 30px
  .give
    &-image
      width 40%
      bottom 53px

  .packages-items
    flex-wrap wrap
  .packages-items
    justify-content space-between
  .packages-item
    width 48%
    margin-bottom 30px
    margin-right 0
  .important-wrapper
    padding 40px
  .reviews-video
    height 250px
  .owl-carousel .owl-item img
    width 100%
    height 100%
    object-fit: contain
  .callback-top
    flex-wrap: wrap
  .callback-left
    margin-bottom 40px
  .callback-bottom
    .form
      width 90%
      margin 0 auto
      &-row
        flex-wrap: wrap
        justify-content space-between
      &-group
        margin-bottom 10px
        width 48%
        &:nth-child(2)
          position relative
          left 20px
        &:nth-child(3)
          position relative
          left -20px
  .form-accept
    justify-content center
    br
      display none


@media only screen and (max-width: 768px)
  .home
    &-right
      width 66%
  
  .about
    &-image
      display none
    &-list
      width 100%
    .about-block,
    .about-block__two
      display none
    &-wrapper
      &:first-child
        margin-bottom 0
  
  .service
    .about-block
      display none
    &-image
      display none
    &-text
      display block
      width 100%

  .give
    &-image
      display none
    .title
      margin-bottom 30px
  .aspects-quote__paragraph::before
    content none
  .aspects-quote__paragraph p
    br
      display none
  .aspects-quote__image
    margin-right 20px
  .packages-item
    width 100%
  .packages .title
    margin-bottom 40px
    padding-top 30px
  .important-wrapper .yellow-list
    column-count: 1
  .reviews-video
    height 200px
  .callback-bottom .form
    width 85%


@media only screen and (max-width: 576px)
  .home
    &-wrapper
      flex-direction: column-reverse
    &-left,
    &-right
      width 100%
  .home-right h1 span:last-child
    left 0
  .home-descr
    padding-left 0
  .home
    padding-top 120px
    text-align center
  .home-descr
    margin-bottom 50px
  .home
    height 700px
    &-action
      left 0
      justify-content center
    &-left
      position relative
      top 50px
      ul
        justify-content center
  .required-item__title
    white-space normal
    br
      display none
  h2  
    font-size 30px
  .aspects-items
    column-count: 1
  .callback
    &-contacts
      margin-right 0
      margin-bottom 30px
      width 100%
    &-right
      flex-wrap: wrap
      justify-content flex-start
  .callback-bottom .form
    .button
      span
        font-size 15px
  

@media only screen and (max-width: 480px)
  h1
    font-size 60px
  .header-right
    justify-content flex-end
    .header-phone
      display none
  .home-descr span
    font-size 17px
    line-height 23px
    br
      display none
  .home
    height 550px
    &-name
      margin-bottom 20px
    &-descr
      margin-bottom 20px
    &-left
      top 25px
  
  .required-item__image
    display none
  .required-item__title
    font-size 18px
    line-height 24px
    margin-bottom 10px
  
  .required-item:first-child, .required-item:nth-child(2), .required-item:nth-child(3), .required-item:nth-child(4)
    margin-bottom 40px
  .give-items
    flex-wrap: wrap
    &__left,
    &__right
      width 100%
  .give-item
    width 100%
  .title
    h2
      br
        display none
  .aspects-items span
    font-size 16px
  .aspects-items li
    margin-bottom 30px
  .aspects-quote
    flex-wrap: wrap
    justify-content center
    &__image
      margin-right 0
      margin-bottom 10px
  
  .packages-item__info
    margin-bottom 30px
  .yellow-list li
    padding-left 20px
  .reviews-top
    flex-wrap: wrap
  .reviews-video
    margin-bottom 20px
    width 100%
  .reviews-slider
    width 100%
  .reviews-slides.owl-carousel .owl-nav button
    transform: none
    top calc(100% + 30px)
    right auto
    left 0
    &.owl-next
      left auto
      right 0
  .callback-bottom .form-group
    width 100%
  .callback-bottom .form-group:nth-child(3),
  .callback-bottom .form-group:nth-child(2)
    left 0