.about
  position relative
  &-block
    position absolute
    top -30%
    left 0
    width 40%
    overflow hidden
    height 70%
  &-block__two
    position absolute
    right 0
    bottom -30%
    height 70%
    overflow hidden
    width 40%
    
  .content
    position relative
    z-index 3
  &-wrapper
    display flex
    align-items center
    justify-content space-between
  &-image
    width 52.99145299145299%
    img
      width 100%
  &-list
    width 45%
  
  h2
    margin-bottom 30px
  
  &-wrapper
    &:first-child
      margin-bottom 50px
