mixin about(data)
  section.about
    .content


      .about-wrapper

        .about-image
          img(src="static/img/assets/about/a1.png", alt="")

        .about-list    
          h2 Обо мне
          ul.yellow-list
            li 18 лет системного и безостановочного  
              br
              | занятия профессионально бально - спортивными танцами
            li Многократный финалист Чемпионатов Украины 
              br
              | и Международных соревнований
            li 2х кратный финалист Открытого Чемпионата Европы среди юниоров
            li Системное занятие спортом и вдохновение людей личным примером 
              br
              | (Моржевание. Более 25 купаний за зимний период)
            li Более 300 соревнований за спортивную карьеру 
              br
              | и более 10 000 часов тренировок
      
      .about-wrapper

        .about-list    
          ul.yellow-list
            li Мастер спорта международного класса  
             
            li Личный образовательно-мотивационный канал в YouTube, на котором свыше 130 000 подписчиков регулярно получают комплексные знания в направлении личностного развития и вдохновения

            li 1 сертифицированный полумарафон  
              br
              | в Украине с временем 01:54:40 в 2018 году
            li 2 года работы в США
            li 39 увиденных стран. В некоторых бывал более 10 раз
        .about-image
          img(src="static/img/assets/about/a2.png", alt="")

        