.about
  &-wrapper
    display flex
    align-items center
    justify-content space-between
  &-image
    width 52.99145299145299%
    img
      width 100%
  &-list
    width 45%
  
  h2
    margin-bottom 30px
  
  &-wrapper
    &:first-child
      margin-bottom 50px
