mixin reviews(data)
  section.reviews
    .content

      .title
        h2 обо мне говорят/отзывы
      

      .reviews-top
        a(href="https://www.youtube.com/watch?v=gCveONn0s-g").reviews-video
          img(src="static/img/assets/reviews/rv3.png", alt="Reviews")
        a(href="https://www.youtube.com/watch?v=NIlxD5-UfZ4").reviews-video
          img(src="static/img/assets/reviews/rv1.jpg", alt="Reviews")
        a(href="https://www.youtube.com/watch?v=e2pMj9aRa6I").reviews-video
          img(src="static/img/assets/reviews/rv4.png", alt="Reviews")
        a(href="https://www.youtube.com/watch?v=j8KtcusFa5Q").reviews-video
          img(src="static/img/assets/reviews/rv5.png", alt="Reviews")
        a(href="https://www.youtube.com/watch?v=OylWUzJgaYs").reviews-video
          img(src="static/img/assets/reviews/rv6.png", alt="Reviews")
        a(href="https://www.youtube.com/watch?v=sgq1jqOQmhI").reviews-video
          img(src="static/img/assets/reviews/rv7.png", alt="Reviews")
    
      

      .reviews-bottom
        .reviews-slider
          .reviews-slides.owl-carousel
            //- Reviews Slide
            .reviews-slide
              img(src="static/img/assets/reviews/r7.jpg", alt="Reviews")
            //- Reviews Slide
            .reviews-slide
              img(src="static/img/assets/reviews/r8.jpg", alt="Reviews")
            //- Reviews Slide
            .reviews-slide
              img(src="static/img/assets/reviews/r9.jpg", alt="Reviews")

            //- Reviews Slide
            .reviews-slide
              img(src="static/img/assets/reviews/r1.png", alt="Reviews")
            //- Reviews Slide
            .reviews-slide
              img(src="static/img/assets/reviews/r2.png", alt="Reviews")
              //- Reviews Slide
            .reviews-slide
              img(src="static/img/assets/reviews/r3.png", alt="Reviews")
              //- Reviews Slide
            .reviews-slide
              img(src="static/img/assets/reviews/r4.png", alt="Reviews")
              //- Reviews Slide
            .reviews-slide
              img(src="static/img/assets/reviews/r5.png", alt="Reviews")
              //- Reviews Slide
            .reviews-slide
              img(src="static/img/assets/reviews/r6.png", alt="Reviews")