mixin reviews(data)
  section.reviews
    .content

      .title
        h2 обо мне говорят/отзывы
      

      .reviews-top
        a(href="#").reviews-video
          img(src="static/img/assets/reviews/rv1.jpg", alt="Reviews")
        a(href="#").reviews-video
          img(src="static/img/assets/reviews/rv2.jpg", alt="Reviews")
      

      .reviews-bottom
        .reviews-slides.owl-carousel
          //- Reviews Slide
          .reviews-slide
            img(src="static/img/assets/reviews/r1.png", alt="Reviews")
          //- Reviews Slide
          .reviews-slide
            img(src="static/img/assets/reviews/r2.png", alt="Reviews")
            //- Reviews Slide
          .reviews-slide
            img(src="static/img/assets/reviews/r3.png", alt="Reviews")
            //- Reviews Slide
          .reviews-slide
            img(src="static/img/assets/reviews/r4.png", alt="Reviews")
            //- Reviews Slide
          .reviews-slide
            img(src="static/img/assets/reviews/r5.png", alt="Reviews")
            //- Reviews Slide
          .reviews-slide
            img(src="static/img/assets/reviews/r6.png", alt="Reviews")