.reviews
  padding-top 150px
  padding-bottom 170px
  background url('../img/assets/reviews/bg.svg') no-repeat center/cover
  .title
    text-align center
    margin-bottom 65px
    h2
      color $wh
  &-top
    display flex
    justify-content: space-between
    padding-bottom 55px
    flex-wrap: wrap
  &-video
    display flex
    justify-content center
    align-items center
    width calc(50% - 10px)
    margin-bottom 20px
    height 340px
    position relative
    &::before
      content ''
      position absolute
      left 50%
      top 50%
      width 70px
      transform: translate(-50%,-50%)
      height 70px
      border: 1px solid $wh
      border-radius: 50%
    &::after
      content ''
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      background rgba(20, 27, 40, 0.3) url('../img/assets/reviews/play.svg') no-repeat center/30px
    img
      width 100%
      height 100%
      object-fit: cover




.reviews
  &-slider
    width 66%
    margin 0 auto
  &-slide
    img
      width 100%
  &-slides.owl-carousel
    position relative

    .owl-nav
      button
        width 45px
        height 45px
        outline: none
        border 1px solid #ffffff
        border-radius 50%
        background url('../img/assets/reviews/r-left.svg') no-repeat center/12px
        position absolute
        top 50%
        transform: translateY(-50%)
        right: calc(100% + 30px)
        &.owl-next
          background url('../img/assets/reviews/r-right.svg') no-repeat center/12px
          left  auto
          left calc(100% + 30px)
        span
          display none