.header
  height 110px
  position absolute
  left 0
  top 0
  width 100%
  z-index 10
  transform translate3d(0,-50px,0)
  transition all 1s ease-in-out
  transition-delay 0.3ss
  opacity 0
  &-wrapper
    display flex
    justify-content space-between
    align-items center
    height 110px
  &-right
    display flex
    justify-content flex-end
    align-items center
    .button
      position relative
      left -25px
      margin-left 25px
  &-phone
    font-size 18px
    color $wh
    font-family $Light
    padding-bottom 4px
    position relative
    margin-right 30px
    &::before
      content ''
      position absolute
      bottom 0
      left 0
      width 100%
      height 1px
      background #999a9d
      transition all 0.35s ease
    &:hover
      &::before
        background $wh

nav.menu  
  ul
    display flex
    align-items center
  li
    margin-right 50px
    &:last-child
      margin-right 0
  a 
    color #848484
    transition all 0.35s ease
    &:hover
      color $wh


body.pace-done
  .header
    transform:  translateY(0)
    opacity 1



.ham 
  width 50px
  cursor: pointer
  -webkit-tap-highlight-color: transparent
  transition: transform 400ms
  -moz-user-select: none
  -webkit-user-select: none
  -ms-user-select: none
  user-select: none

.hamRotate.active 
  transform: rotate(45deg)


.line 
  fill:none
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms
  stroke: #fff
  stroke-width: 5.5
  stroke-linecap:round

.ham1 .top 
  stroke-dasharray: 40 139

.ham1 .bottom 
  stroke-dasharray: 40 180

.ham1.active .top 
  stroke-dashoffset: -98px

.ham1.active .bottom 
  stroke-dashoffset: -138px

.header
  .burger
    display none
  &-menu
    .logo
      display none