.how
  background url("../img/assets/packages/bg.svg") no-repeat center/cover
  padding-top 150px
  height 790px
  box-sizing: border-box
  .title
    text-align center
    padding-bottom 60px
    h2
      color $wh

  &-items
    display flex
    justify-content space-between
    flex-wrap: wrap
    padding-bottom 20px
  &-item
    width 47.00854700854701%
    margin-bottom 70px
    display flex
    align-items center
    &__left
      width 100px
      position relative
      span  
        font-size 30px
        color $yl
        position absolute
        z-index 2
        left 0
        top 0
        font-family $Black
      img
        position relative
        left 20px
    &__right
      width calc(100% - 100px)
      p
        color $wh
        font-size 16px
        line-height 24px
        font-family $Reg


  &-button
    display flex
    justify-content center