button.button
  border: none
  cursor pointer
  outline: none
  &:hover
    background $yl
    &::before
      border-bottom: 50px solid $yl;
    &::after
      border-top: 50px solid $yl;
.form
  &-row
    display flex
    justify-content space-between
  &-group
    width 23%
    height 50px
    border none
    position relative
    box-sizing: border-box
    &.form-group__input
      &::before
        content ''
        position: absolute;
        bottom: 0;
        border-bottom: 50px solid #e6e6e6;
        border-left: 20px solid transparent;
        right: 100%;
        transition: all 0.3s ease-in-out
      &::after
        content ''
        left 100%
        position: absolute;
        bottom: 0;
        border-top: 50px solid #e6e6e6;
        transition: all 0.3s ease-in-out
        border-right: 20px solid transparent;
    input
      width 100%
      display inline-flex
      align-items center
      box-sizing: border-box
      outline: none
      padding-left 10px
      padding-right 10px
      background #e6e6e6
      height 50px
      font-size 14px
      font-family $bk
      border none
      position relative
      +placeholder()
        font-size 14px
        font-family $Reg
        color #6d6d6d
      

.form
  &-accept
    display flex
    justify-content flex-end
    padding-right 50px
    padding-top 20px
    span
      font-size 12px
      line-height 18px
      color #848484
      position relative
      display block
      padding-left 25px
      &::before
        content ''
        position absolute
        top 4px
        left 0
        width 11px
        height 11px
        border: 1px solid #8c8c8c
      &::after
        content ''
        position absolute
        left 3px
        top 7px
        width 6px
        height 6px
        background url('../img/assets/callback/check.svg') no-repeat center/contain

.form-group
  .button
    width 100%
    justify-content center