mixin required()
  section.required#required

    .content
      .title
        h2 Коучинг вам необходим если


      ul.required-list.yellow-list
        li Хочу баланс в ключевых сферах жизни 
          br
          | (работа, семья, хобби, увлечения и т.д) 
        li Чувствую неудовлетворенность собой и результатами. 
          br
          | Хочу это преодолеть
       
        li Уперся/лась в стеклянный потолок. Все одно и то же, 
          br
          | а хочу большего

        li Многозадачность и Перезагруженность
        
        li Нет реализации желаемых целей и планов
        
        li Полный завал в самоорганизации и тайм менеджменте

        li В плену сомнений, страхов и негативных убеждений

        li Хочу больше улыбаться и радоваться жизни

        li Эмоционалное выгорание







