mixin required()
  section.required

    .content
      .title
        h2 Коучинг вам необходим если
      

      .required-items

        //- Required Item
        .required-item
          .required-item__image
            img(src="static/img/assets/required/r1.png", alt="")
          .required-item__text
            .required-item__title  Постоянно чувствую себя 
              br
              | уставшим нет энергии и мотивации
            .required-item__paragraph
              p У вас постоянное ощущения усталости, апатичности и отсутствия энергии. Вы вроде как желаете что-то сделать, начинаете, а на долго вашей мотивации не хватает и вы бросаете начатое дело в ближайшие пару недель и месяцев
        
        //- Required Item
        .required-item
          .required-item__image
            img(src="static/img/assets/required/r2.png", alt="")
          .required-item__text
            .required-item__title  Не достигаю поставленных 
              br
              | целей и топчусь на месте
            .required-item__paragraph
              p Цели, поставленные вами ранее, остаются целями только на бумаге, а в реальной жизни результатов нет! Это подрывает вашу уверенность в себе и вы чувствуете неудовлетворенность. Вы уперлись в стеклянный потолок в результатах и не понимаете, а что и как мне делать дальше? Вы теряете время при этом просто топчитесь на месте
        
        //- Required Item
        .required-item
          .required-item__image
            img(src="static/img/assets/required/r3.png", alt="")
          .required-item__text
            .required-item__title Постоянно откладываю дела на потом
              br
              | нет дисциплины и самоорганизации
            .required-item__paragraph
              p Хроническое откладывание важных и необходимых вам дел на потом. Постоянные обещания, что ну вот 100% завтра начну и буду дисциплинированным. А что в итоге? Начинаем откладывать заново. Вы чувствуете неудовлетворенность, следом потеря уверенности в себе и занижение самооценки
        
        //- Required Item
        .required-item
          .required-item__image
            img(src="static/img/assets/required/r4.png", alt="")
          .required-item__text
            .required-item__title Нет уверенности в себе
              br
              |  и в завтрашнем дне
            .required-item__paragraph
              p Отсутствие результатов и достижения поставленных перед собой целей негативно влияют на вашу уверенность в себе и вы со страхом смотрите в будущее. Вы понимаете что года идут вперед, а недовольство своими результатами и собой, плавно но уверенно вводят вас в депрессивные состояния