.solved
  background url('../img/assets/solved/bg.jpg') no-repeat center/cover
  position relative
  padding-top 130px
  top -130px
  margin-bottom -130px
  background-size 70%
  background-position top right
  h2
    margin-bottom 70px
  &-items
    padding-bottom 70px
  &-item
    display flex
    align-items center
    margin-bottom 60px
    justify-content space-between
    &:last-child
      margin-bottom 0
    &__left
      width 50px
      img
        width 100%
    &__right
      width calc(100% - 70px)
      span
        color $bk
        font-size 24px
        line-height normal
        display block
        font-family $Bold
        margin-bottom 5px
      p
        font-size 16px
        font-family $Reg
        color $bk


.solved
  &-bottom
    height 425px
    background url('../img/assets/solved/rentagle.jpg') no-repeat center/cover
    padding-left 350px
    box-sizing: border-box
    padding-top 55px
    span,
    p
      font-size 16px
      font-family $Reg
      color $wh
      line-height normal
      font-size 16px
    span
      color $wh
      font-size 24px
      display block
      line-height normal
      font-family $Bold
      margin-top 30px
      margin-bottom 20px
  
  &-quote
    padding-left 85px
    margin-top 20px
    background url('../img/assets/solved/quote.svg') no-repeat 
    background-position left center
    background-size 60px
    padding-top 20px
    padding-bottom 20px
    p
      font-size 24px
      font-family $Bold
      line-height normal