mixin solved(data)
  section.solved
    .content

      h2 КАКИЕ ЗАДАЧИ РЕШАЕТ ПЕРСОНАЛЬНЫЙ КОУЧИНГ

      .solved-top

        .solved-items

          //- Solved Item
          .solved-item
            .solved-item__left
              img(src="static/img/assets/solved/s1.png", alt="")
            .solved-item__right
              span Проседание в энергии 
              p Вы научитесь контролировать физическую и психическую 
                br
                | энергию. Вы забудете про длительное истощение и апатичность
          
          //- Solved Item
          .solved-item
            .solved-item__left
              img(src="static/img/assets/solved/s2.png", alt="")
            .solved-item__right
              span Погрешности в самоорганизации
              p Вы научитесь слышать себя и начнете вырабатывать дисциплину 
                br
                | и стабильность в действиях через радость, а не через боль
          
          //- Solved Item
          .solved-item
            .solved-item__left
              img(src="static/img/assets/solved/s3.png", alt="")
            .solved-item__right
              span Баланс ключевых жизненных направлений
              p Работа, семья, саморазвитие, досуг - перестанут 
                br
                | конфликтовать друг с другом 
                
          
          //- Solved Item
          .solved-item
            .solved-item__left
              img(src="static/img/assets/solved/s4.png", alt="")
            .solved-item__right
              span Преодоление стеклянных потолков
              p Проблемы формата (постоянно одно и то же; мне надоело 
                br
                | топтаться на месте; я не выполняю свои планы и цели) – эта 
                br
                | история будет уже не про вас

          //- Solved Item
          .solved-item
            .solved-item__left
              img(src="static/img/assets/solved/s5.png", alt="")
            .solved-item__right
              span Я срываюсь
              p Шаг за шагом вы разовьете эмоциональный интеллект 
                br
                | и способность контроля эмоций 
          //- Solved Item
          .solved-item
            .solved-item__left
              img(src="static/img/assets/solved/s6.png", alt="")
            .solved-item__right
              span Страх мною управляет 
              p Вы поймете, что страх - надуманная и драматизированная 
                br
                | вами же история. Я научу вас казнить свои страхи

          //- Solved Item
          .solved-item
            .solved-item__left
              img(src="static/img/assets/solved/s7.png", alt="")
            .solved-item__right
              span Непринятие себя 
              p А я мог/могла бы быть лучше, красивее, талантливее и т.д. 
                br
                | К черту это все! Вы примите себя, разрушите иллюзии, 
                br
                | которые мешают вам нормально жить 
          
          //- Solved Item
          .solved-item
            .solved-item__left
              img(src="static/img/assets/solved/s8.png", alt="")
            .solved-item__right
              span Я не на своем месте 
              p Вы пойдете по пути сердца/нравится, а не по пути надо




      //- Solved Bottom
      .solved-bottom
        p Я даю практику, инструменты, я делюсь моим опытом, который измеряется упорной работой 
          br
          | на протяжении многих лет и суммами $ во много нулей!
        span Мой опыт это
        p Более 300 спортивных соревнований; 18 лет спорта; 2 раза Финалист Открытого Чемпионата Европы среди юниоров; Мастер спорта международного класса; более 10000 часов тренировок (не считая бег, силовые и прорубь.); более 150 прочитанных книг; 39 увиденных стран; 8 лет отношений и построение семьи; 10-тки людей прошедшие коучинг; более 130 000 человек подписавшихся на мой YouTube канал; более 200 образовательных видео материалов, загруженных на мой YouTube канал; 2 года работы в США
        .solved-quote
          p Мне есть чем с вами поделиться и вывести 
            br
            |  вас на новый уровень!





                

