mixin callback(data)
  section.callback#callback

    .content

      .callback-top

        .callback-left
          h2 Отправьте заявку
          span Отправьте заявку и мы свяжемся  
            br
            | с вами для уточнения деталей!

        .callback-right

          //- CallBack Contacts
          .callback-contacts
            .callback-title Контакты
            ul.callback-list
              li 
                a(href="mailto:vasylenko.consulting@gmail.com") vasylenko.consulting@gmail.com
              li
                a(href="tel:+380931220201") +38 093 122 02 01
          
          //- Callback Media
          .callback-socials
            .callback-title Медиа
            ul.socials-callback
              li
                a(href="https://vk.com/id38105679", target="_blank")
                  img(src="static/img/assets/callback/vk.svg", alt="")
              li
                a(href="https://www.facebook.com/oleksandr.vasylenko.56", target="_blank")
                  img(src="static/img/assets/callback/fb.svg", alt="")
              li
                a(href="https://www.instagram.com/aleksandr_vasilenko/", target="_blank")
                  img(src="static/img/assets/callback/ins.svg", alt="")
              li
                a(href="https://www.youtube.com/channel/UCXXOJ4G0p0W4O03LSRJsDlA", target="_blank")
                  img(src="static/img/assets/callback/yb.svg", alt="")



      .callback-bottom
        
        form.form
          input(type="hidden" name="project_name" value="Vasylenko Coaching")
          input(type="hidden" name="admin_email" value="vasylenko.consulting@gmail.com")
          input(type="hidden" name="form_subject" value="Callback Form")
          .form-row
            .form-group.form-group__input
              input(type="text" placeholder="Имя")
            .form-group.form-group__input
              input(type="tel" placeholder='Номер')
            .form-group.form-group__input
              input(type='email' placeholder='E-mail')
            .form-group
              button.button
                span Записаться на коучинг
          .form-accept
            span Ознакомлен и принимаю 
              br
              | политику конфиденциальности