.callback
  padding-top 50px
  padding-bottom 0px
  &-top
    display flex
    margin-bottom 70px
    justify-content space-between
  &-title
    font-size 24px
    color $bk
    font-family $Bold
    margin-bottom 30px
  &-right
    display flex
    justify-content flex-end
  &-contacts
    margin-right 80px
  &-left
    h2
      margin-bottom 10px
      position relative
      top -20px
    span
      display block
      font-size 16px
      line-height 24px
      font-family $Reg

  &-list
    li:first-child
      margin-bottom 10px
    a 
      color #848484
      font-size 18px
      line-height 24px
      letter-spacing: 0.025em
      font-family $Reg

.callback
  .socials-callback
    display flex
    justify-content space-between
    li
      margin-right 35px
      transition all 0.6s ease-in-out
      &:hover
        transform: translate3d(0,-5px,0)
        
      &:last-child
        margin-right 0
