.service
  padding-top 20px
  position relative
  padding-bottom 20px
  .about-block
    height 140%
    position: absolute;
    left: 0;
    width: 40%;
    overflow: hidden;
    height: 130%;
    top: -70%;
  .content
    position relative
    z-index 2
  &-wrapper
    display flex
    justify-content space-between
    align-items center
  &-image
    width 48.71794871794872%
    img
      width 100%
  &-text
    width 43.58974358974359%
    h2
      margin-bottom 25px
    p
      color $bk
      font-size 16px
      font-family $Reg
      line-height 27px