mixin service(data)
  section.service
    .content

      .service-wrapper


        .service-image
          img(src="static/img/assets/service/img.png", alt="")

        .service-text
          h2 Услуга «КОУЧИНГ» 
          p Персональный коучинг – это самый эффективный и быстрый метод получения необходимой информации и знаний, а также последовательного решения Ваших жизненных задач, трудностей и проблем. За минимальный промежуток времени Вы получаете максимум информации и практического руководства к действию. Вы получаете новые варианты развития событий в жизни по ключевым её направлениям, а также инструкции к преодолению текущих сложностей. Другими словами – Вы делаете x2/x5/x10 в достижениях и результатах в разы быстрее