.service
  padding-top 20px
  padding-bottom 20px
  &-wrapper
    display flex
    justify-content space-between
    align-items center
  &-image
    width 48.71794871794872%
    img
      width 100%
  &-text
    width 43.58974358974359%
    h2
      margin-bottom 25px
    p
      color $bk
      font-size 16px
      font-family $Reg
      line-height 27px